# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caché de Django
*.log
*.pot
*.pyc
__pycache__/

# Directorios de configuración
.env
/.vscode
/.idea

# Archivos de usuario
*.orig
*.swp
*~

# Archivos de entorno
.env

# Carpeta de medios
/media/

# Archivos de base de datos
db.sqlite3
*.sqlite3

# Archivos de configuración local
local_settings.py

# Carpeta de construcción
/build/

# Carpeta de dependencias
/venv/
/pip-selfcheck.json

# Archivos de registro
*.log
